* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
    background-image: url(https://github.com/vanduy2003/du-an-3/blob/main/assets/img/Banner_with_abstract_low_poly_design_2508.jpg);
}

.background {
    width: 100vw;
    display: inline;
}